<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>
        $('#acornpark-boARd-portal').click(function(){
                        window.open('./b/acornpark', '_blank');
                    });
                    
                    $('#glenmont-boARd-portal').click(function(){
                        window.open('./b/glenmont', '_blank');
                    });
                    
                    $('#wheaton-boARd-portal').click(function(){
                        window.open('./b/wheaton', '_blank');
                    });
                    
                    $('#forestglen-boARd-portal').click(function(){
                        window.open('./b/forestglen', '_blank');
                    });
                    
                    $('#takoma-boARd-portal').click(function(){
                        window.open('./b/takoma', '_blank');
                    });
                    
                    $('#forttotten-boARd-portal').click(function(){
                        window.open('./b/forttotten', '_blank');
                    });
                    
                    $('#brooklandcua-boARd-portal').click(function(){
                        window.open('./b/brooklandcua', '_blank');
                    });
                    
                    $('#rhodeislandave-boARd-portal').click(function(){
                        window.open('./b/rhodeislandave', '_blank');
                    });
                    
                    v$('#noma-boARd-portal').click(function(){
                        window.open('./b/noma', '_blank');
                    });
                    
                    $('#unionstation-boARd-portal').click(function(){
                        window.open('./b/unionstation', '_blank');
                    });
                    
                    $('#judiciarysq-boARd-portal').click(function(){
                        window.open('./b/judiciarysq', '_blank');
                    });
                    
                    $('#galleryplace-boARd-portal').click(function(){
                        window.open('./b/galleryplace', '_blank');
                    });
                    
                    $('#metrocenter-boARd-portal').click(function(){
                        window.open('./b/metrocenter', '_blank');
                    });
                    
                    
                    $('#mcphersons-boARd-portal').click(function(){
                        window.open('./b/mcphersons', '_blank');
                    });
                    
                    $('#farragutnorth-boARd-portal').click(function(){
                        window.open('./b/farragutnorth', '_blank');
                    });
                    
                    $('#dupontcircle-boARd-portal').click(function(){
                        window.open('./b/dupontcircle', '_blank');
                    });
                    
                    $('#woodleypark-boARd-portal').click(function(){
                        window.open('./b/woodleypark', '_blank');
                    });
                    $('#clevelandpark-boARd-portal').click(function(){
                        window.open('./b/clevelandpark', '_blank');
                    });
                    
                    $('#vanness-boARd-portal').click(function(){
                        window.open('./b/vanness', '_blank');
                    });
                    
                    $('#tenleytownau-boARd-portal').click(function(){
                        window.open('./b/tenleytownau', '_blank');
                    });
                    
                    $('#friendshipheights-boARd-portal').click(function(){
                        window.open('./b/friendshipheights', '_blank');
                    });
                    
                    $('#bethesda-boARd-portal').click(function(){
                        window.open('./b/bethesda', '_blank');
                    });
                    
                    
                    
    </script>
</head>
<body>



</body>
</html>