<!DOCTYPE html>
<html>
<head>
    <title>pARk | public Augmented Reality kinectome</title>
    <link rel='stylesheet' type='text/css' href='../css/metropARk.css'/>
    <script src='../js/socket.io.js'></script>
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script src='../js/broadcastOriginalAugmentedRealityDapps.js'></script>
    <script>        
        var stationInFocus = 'Silver Spring';
        let nodesVisible = true;
        
        document.addEventListener('DOMContentLoaded', function(){
            var socket = io.connect(location.host);
            
            let MetroMap = broadcastOriginalAugmentedRealityDapps.main.map;
            let MetroStations = broadcastOriginalAugmentedRealityDapps.main.stations;
            
            setTimeout(function(){
                let yellowKeys = Object.keys(MetroStations.yellowLineStations);
                
                for(var i=0; i<yellowKeys.length; i++){
                    MetroMap.addStation(MetroStations.yellowLineStations, yellowKeys[i], i);
                }
                
                let greenKeys = Object.keys(MetroStations.greenLineStations);
                
                for(var j=0; j<greenKeys.length; j++){
                    MetroMap.addStation(MetroStations.greenLineStations, greenKeys[j], j);
                }
                
                let blueKeys = Object.keys(MetroStations.blueLineStations);
                
                for(var k=0; k<blueKeys.length; k++){
                    MetroMap.addStation(MetroStations.blueLineStations, blueKeys[k], k);
                }
                
                let orangeKeys = Object.keys(MetroStations.orangeLineStations);
                
                for(var l=0; l<orangeKeys.length; l++){
                    MetroMap.addStation(MetroStations.orangeLineStations, orangeKeys[l], l);
                }
                
                let redKeys = Object.keys(MetroStations.redLineStations);
                
                for(var m=0; m<redKeys.length; m++){
                    MetroMap.addStation(MetroStations.redLineStations, redKeys[m], m);
                }
                
                let silverKeys = Object.keys(MetroStations.silverLineStations);
                
                for(var n=0; n<silverKeys.length; n++){
                    MetroMap.addStation(MetroStations.silverLineStations, silverKeys[n], n);
                }
                
                $('.station-marker').click(function(){
                    
                    let ygStations = MetroMap.extend(MetroStations.yellowLineStations, MetroStations.greenLineStations);
                    let ygbStations = MetroMap.extend(ygStations, MetroStations.blueLineStations);
                    let rygbStations = MetroMap.extend(MetroStations.redLineStations, ygbStations);
                    let roygbStations = MetroMap.extend(rygbStations, MetroStations.orangeLineStations);
                    let allStations = MetroMap.extend(roygbStations, MetroStations.silverLineStations);
                    
                    var name = $(this).attr('name');
                    this.style.fill = 'violet'; 
                    document.getElementById(`${allStations[stationInFocus].id}`).style.fill = 'white';
                    //console.log(`previous station: ${stationInFocus}`);
                    stationInFocus = name;
                    //console.log(allStations[stationInFocus].id);
                    
                    $('#mission-container').empty().append(allStations[name].mission);
                    $('#pARk-address').text(allStations[name].url);
                    
                    console.log("requesting station ", name);
                    socket.emit('requestStationHandle', {name: name});
                    
                    if(name=='Mt Vernon Sq/7th St-Convention Center'){
                        name = 'Mt Vernon Sq';
                    }

                    $('#station-title').text(name);
                    
                    let target = $('.boARd-launch-pin').attr('id');
                    console.log(target);
                    
                    socket.on('returnStationHandle', function(data){
                        let address = data.handle;
                        console.log(address)
                        $(`#${target}`).click(function(){
                             window.open(`./b/${address}`, '_blank');
                        });
                    });
                    
                });
            }, 2000);
            
            
            document.getElementById('explore-button').addEventListener('click', function(){
                $('#station-title').text('How to Browse');
                $('#mission-container').empty().append(`<div class='instruction'>Click on a node to access its boARd</div>`);
                
                $('#app-header-container').animate({
                    opacity: 0
                }, 500, function(){
                    $(this).text('House of Venus, Benefit Corporation').animate({
                        opacity: 1.0
                    }, 500);
                });
                
                $('#explore-button').animate({
                    opacity: 0,
                }, 500, function(){
                    $(this).hide();
                });
                $('#dmv-metro-pARk').animate({
                    opacity: 1.0
                }, 1000);
                
                $('#mission-container').css({
                    fontSize: '1.0em'
                });
                
                $('#station-details-container').animate({
                    width: '200px',
                    height: '125px',
                    margin: 0,
                    left: '2%',
                    top: '40%'
                }, 1000, function(){
                    $(this).css({
                        backgroundColor: 'rgba(255, 255, 255, 0.4)',
                        color: 'black'
                    });
                });
            });
            
            
            document.getElementById('return-to-map').addEventListener('click', function(){
                $('#station-title').text('how to browse');
                $('#mission-container').empty().append(`<div class='instruction'>click on a node to visit the site</div>`);
                
                $('#pARk-address').text('@houseofvenus');
                
                $('#station-details-container').animate({
                    width: '200px',
                    height: '125px',
                    margin: 0,
                    left: '2%',
                    top: '40%',
                }, 1000, function(){
                    $(this).css({
                        backgroundColor: 'rgba(255, 255, 255, 0.4)',
                        color: 'black'
                    });
                });
                
                $('#mission-container').css({
                    fontSize: '1.0em'
                });
                
                $(this).animate({
                    opacity: 0
                }, 500, function(){
                    $(this).hide();
                });
            })
            
            
            document.getElementById('cARd-page-button').addEventListener('click', function(){
                $('#pARk-address').text('creative Augmented Reality desktop');
                $('#station-title').text('network settings');
                
                $('#station-details-container').css({
                    backgroundColor: 'rgba(0, 0, 0, 0.6)',
                    color: 'white'
                });
                
                $('#station-details-container').animate({
                    width: '600px',
                    height: '450px',
                    left: '50%',
                    top: '50%',
                    margin: '-250px 0 0 -300px'
                }, 1000, function(){
                    $('#mission-container').css({
                        margin: '1% auto'
                    }).empty().append(`<div id='settings-container'><input type="button" id="connect-cARd-button" value="connect" /><input type="button" id="toggle-nodes-button" value="toggle" /></div>`);
                    
                    if(nodesVisible){
                        $('#toggle-nodes-button').css({
                            backgroundColor: 'green'
                        });
                    }
                    else{
                        $('#toggle-nodes-button').css({
                            backgroundColor: 'red'
                        });
                    }
                    
                    $('#toggle-nodes-button').click(function(){
                        if(nodesVisible){
                            $('#toggle-nodes-button').css({
                                backgroundColor: 'red'
                            });
                            
                            $('.board-icon').animate({
                                opacity: 0
                            }, 1000, function(){
                                let myId = $(this).attr('id');
                                $(`#${myId}`).hide();
                            });
                        }
                        else{
                            $('#toggle-nodes-button').css({
                                backgroundColor: 'green'
                            });
                            
                            $('.board-icon').show().animate({
                                opacity: 1.0
                            }, 1000);
                        }
                        nodesVisible=!nodesVisible;
                    });
                    /*$('#view-docs-button').addEventListener('click', function(){
                        window.location.href = './cARd'
                    });*/
                });
                
                $('#return-to-map').show().animate({
                    opacity: 1.0
                }, 500);
            });
                        
            document.getElementById('faq-page-button').addEventListener('click', function(){
                $('#pARk-address').text('public Augmented Reality kinectome');
                $('#station-title').text('frequently asked questions');
                
                $('#mission-container').css({
                    fontSize: '1.2em'
                });
                
                $('#station-details-container').css({
                    backgroundColor: 'rgba(0, 0, 0, 0.9)',
                    color: 'white'
                });
                
                $('#station-details-container').animate({
                    width: '600px',
                    height: '475px',
                    left: '50%',
                    top: '50%',
                    margin: '-250px 0 0 -300px'
                }, 1000, function(){
                    $('#mission-container').css({
                        margin: '1% auto'
                    }).empty().append(`<div id='what-section-header' class='section-header'>?</div>
<div id='what-section-text' class='section-text'>The public Augmented Reality kinectome (pARk) is a <span id="link-to-atown-explanation">decentralized, immersive internet.</span> Let go of the constraints of the past: use your hands to create, collaborate and explore as nature intended.</div>
<div id='why-section-header' class='section-header'>!</div>
<div id='why-section-text' class='section-text'>boARds are indeces of experiences (DIAs) located in a given geographic area. This site contains all <span id="link-to-dmv-explanation">public boARds in the DMV.</span> </div>
<div id='when-section-header' class='section-header'>...</div>
<div id='when-section-text'>Check out the release schedule <span id="link-to-release-schedule">here</span> and order a cARd to start building on your own!</div>`);
                    
                    $('#link-to-release-schedule').click(function(){
                        $('#return-to-map').click();
                        setTimeout(function(){
                            $('#pARk-page-button').click();
                        }, 1100);
                    })
                });
                
                $('#return-to-map').show().animate({
                    opacity: 1.0
                }, 500);
            });    
            
            
            document.getElementById('pARk-page-button').addEventListener('click', function(){
                $('#pARk-address').text('public Augmented Reality kinectome');
                $('#station-title').text("");
                
                $('#station-details-container').css({
                    backgroundColor: 'rgba(0, 0, 0, 0.9)',
                    color: 'white'
                });
                
                $('#station-details-container').animate({
                    width: '600px',
                    height: '475px',
                    left: '50%',
                    top: '50%',
                    margin: '-275px 0 0 -300px'
                }, 1000, function(){
                    $('#mission-container').css({
                        margin: '1% auto',
                        width: '90%'
                    }).empty().append(`<div id='content-container'><div id='weekly-highlights-container'><div id='weekly-highlights-title'>week 21 (alpha)</div></div><div id='content-link-dashboard'><input type='button' id='medium-link-button' class='content-link-button' value='' /><input type='button' id='instagram-link-button' class='content-link-button' value='' /><input type='button' id='twitter-link-button' class='content-link-button' value='' /><input type='button' id='docs-link-button' class='content-link-button' value='' /></div><div id='potw-container'><h3 id="potw-header">roster</h3><div id="roster-bubble-1" class='roster-bubble-container'></div><div id="roster-bubble-ceo" class='roster-bubble-container'></div><div id="roster-bubble-2" class='roster-bubble-container'></div></div></div>`);
                });
                
                
                $('#return-to-map').show().animate({
                    opacity: 1.0
                }, 500);
            });
            
            document.getElementById('house-of-venus-board-icon').addEventListener('click', function(){
                window.open('./b/@houseofvenus', '_blank');
            });
                
        });
    </script>
</head>
<body>
    <div id='app-header-container'>
        public Augmented Reality kinectome
    </div>
    <div id='main-app-container'>
        
        <div id='station-details-container'>
            <div id='pARk-address'>@houseofvenus</div>
            <div id='station-title'>Hello, World!</div>
            <div id='mission-container'>
                <p class="mission-paragraph">Welcome to the House of Venus PUBLIC AUGMENTED REALITY KINECTOME (pARk).</p>
                <p class="mission-paragraph">This map is a visual search tool for hyper-real spaces, the pARk equivalent of a website. Each node represents a boARd, a hotspot that indexes all the content found within a given area.
                </p>
                <p class="mission-paragraph">You can preview some media on the World Wide Web through this portal. For the rest you will have to travel there yourself!
                </p>
            </div>
            <div id='details-footer-container'>
                <div id='pARk-option'>visit pARk</div>
            </div>
            <input type='button' id='explore-button' value='explore' />
            <input type='button' id='return-to-map' value='back' />
        </div>
        <svg id='dmv-metro-pARk' class='pARk-container' width="640" height="540">
            <path d="M580 450 l -25 -25 l -25 -25 l -30 5 l -30 -25 l -20 -20 l -40 -20 l -30 0 l -20 -60 l 0 -30 l 0 -30 l 0 -30 l 0 -30 l -20 -20 l -30 -20 l 30 -20 l 30 -10 l 40 -20 l 30 -20 l 30 -20 l 30 -15 z" stroke-width="10" stroke="green" fill="none" />
            <path d="M585 470 l -80 -448 z" stroke-width="20" stroke="white" fill="white" />
            
            <path d="M280 470 l 0 -25 l 0 -30 l 0 -25 l 0 -30 l -25 -10 l -25 -10 l 0 -25 l 40 -20 l 80 0 l 0 -140 l -20 -20 l -30 -20 l 30 -20 l 30 -10 l -30 10 l -30 20 l 30 20 l 20 20 l 0 140 z" stroke-width="10" stroke="yellow" fill="none" />
            <path d="M280 470 l 65 -168 z" stroke-width="20" stroke="white" fill="white" />
            
            <path d="M630 220 l -25 0 l -25 0 l -25 0 l -25 0 l -25 0 l -25 15 l -20 15 l -30 30 l -30 0 l -40 0 l -40 -20 l 0 -30 l 0 -30 l -20 -30 l -50 0 l -30 0 l -60 30 l 30 70 l 40 55 l 0 20 l 25 10 l 15 10 l 0 30 l 0 25 l 0 30 l 0 25 l -100 10 l -20 40 l 20 -40 l 100 -10 l 0 -25 l 0 -30 l 0 -25 l 0 -30 l -15 -10 l -25 -10 l 0 -20 l -40 -55 l -30 -70 l 60 -30 l 30 0 l 50 0 l 20 30 l 0 30 l 0 30 l 40 20 l 40 0 l 30 0 l 30 -30 l 20 -15 l 25 -15 z" stroke-width="10" stroke="blue" fill="none" />
            
            <path d="M15 230 l 140 0 l 0 -30 l 60 -30 l 30 0 l 50 0 l 20 30 l 0 30 l 0 30 l 40 20 l 40 0 l 30 0 l 30 -30 l 20 -15 l 25 -15 l 40 -30 l 20 -30 l 20 -30 l 20 -30 l 20 -30 l -20 30 l -20 30 l -20 30 l -20 30 l -40 30 l -25 15 l -20 15 l -30 30 l -30 0 l -40 0 l -40 -20 l 0 -30 l 0 -30 l -20 -30 l -20 0 l -30 0 l -30 0 l -60 30 l 0 30 l -140 0 z" stroke-width="10" stroke="orange" fill="none" />
            
            <path d="M50 20 l 15 15 l 15 15 l 15 15 l 15 15 l 15 15 l 25 10 l 20 0 l 25 0 l 20 0 l 20 0 l 15 15 l 15 15 l 15 15 l 0 50 l 40 0 l 40 20 l 35 0 l 30 -15 l 0 -20 l 0 -20 l 0 -20 l -85 -65 l -15 -10 l 0 -20 l 0 -20 l 0 -20 z" stroke-width="10" stroke="red" fill="none" />
            <path d="M60 18 l 275 -10 z" stroke-width="15" stroke="white" fill="white" />
            
            <path d="M25 130 l 15 20 l 15 20 l 15 20 l 15 20 l 15 20 l 60 0 l 0 -30 l 65 -30 l 30 0 l 50 0 l 20 30 l 0 30 l 0 30 l 40 20 l 70 0 l 20 -30 l 40 -20 l 10 0 l 125 0 l -125 0 l -10 0 l -40 20 l -20 30 l -70 0 l -40 -20 l 0 -30 l 0 -30 l -20 -30 l -50 0 l -30 0 l -65 30 l 0 30 l -60 0 l -15 -20 z" stroke-width="10" stroke="silver" fill="none" />
            
            <image xlink:href="../media/img/home-icon.png" id="house-of-venus-board-icon" x="360" y="25" height="25px" width="25px"/>
            
            <image xlink:href="../media/img/7-eleven_symbol.png" id="house-of-mercury-board-icon" class="board-icon" x="390" y="5" height="35px" width="35px"/>
            
            <image xlink:href="../media/img/umd.png" id="umd-board-icon" class="board-icon" x="470" y="35" height="50px" width="50px"/>
            
            <image xlink:href="../media/img/gmu.png" id="gmu-board-icon" class="board-icon" x="10" y="160" height="50px" width="50px"/>
            
            <image xlink:href="../media/img/dod.png" id="dod-board-icon" class="board-icon" x="250" y="305" height="40px" width="40px"/>
            
            <image xlink:href="../media/img/monument.png" id="monument-board-icon" class="board-icon" x="265" y="225" height="60px" width="50px"/>
            
            <image xlink:href="../media/img/smithsonian.png" id="smithsonian-board-icon" class="board-icon" x="235" y="230" height="50px" width="50px"/>
            
            <image xlink:href="../media/img/capitol.png" id="capitol-board-icon" class="board-icon" x="385" y="235" height="35px" width="45px"/>
            
            <image xlink:href="../media/img/gwu.png" id="gwu-board-icon" class="board-icon" x="185" y="185" height="40px" width="40px"/>
            
            <image xlink:href="../media/img/georgetown.png" id="georgetown-board-icon" class="board-icon" x="175" y="130" height="40px" width="40px"/>
            
            <image xlink:href="../media/img/dcunited.png" id="dcunited-board-icon" class="board-icon" x="400" y="290" height="40px" width="40px"/>
            
            <image xlink:href="../media/img/nationals.png" id="nationals-board-icon" class="board-icon" x="390" y="360" height="35px" width="35px"/>
            
            <image xlink:href="../media/img/airport.png" id="reagan-board-icon" class="board-icon" x="240" y="360" height="35px" width="35px"/>
            
            <image xlink:href="../media/img/airport.png" id="cp-airport-board-icon" class="board-icon" x="430" y="0" height="35px" width="35px"/>

            <image xlink:href="../media/img/cua.png" id="cua-board-icon" class="board-icon" x="420" y="100" height="75px" width="75px"/>
            
            <image xlink:href="../media/img/easternmarket.jpg" id="eastern-market-board-icon" class="board-icon" x="470" y="245" height="60px" width="60px"/>
            
            <image xlink:href="../media/img/nih.png" id="nih-board-icon" class="board-icon" x="135" y="43" height="50px" width="50px"/>
            
            <image xlink:href="../media/img/afi.png" id="afi-board-icon" class="board-icon" x="330" y="35" height="50px" width="50px"/>
            
            <image xlink:href="../media/img/discovery.png" id="discovery-board-icon" class="board-icon" x="255" y="5" height="50px" width="50px"/>
            
            <image xlink:href="../media/img/fillmore.png" id="fillmore-board-icon" class="board-icon" x="285" y="55" height="40px" width="30px"/>
            
            <image xlink:href="../media/img/noaa.png" id="noaa-board-icon" class="board-icon" x="240" y="55" height="40px" width="40px"/>
            
            <image xlink:href="../media/img/microcenter.png" id="micro-center-board-icon" class="board-icon" x="40" y="55" height="40px" width="40px"/>
            
            <image xlink:href="../media/img/rockville.png" id="rockville-board-icon" class="board-icon" x="80" y="5" height="40px" width="40px"/>
        </svg>
    </div>
    <select id='pARk-selector'>
        <option class='pARk-location' value="dmv">dmv</option>
        <option class='pARk-location' value="cp">paris (coming soon)</option>
        <option class='pARk-location' value="opel">brazza (coming soon)</option>
    </select>
    <img id='cARd-page-button' src='../media/img/card-icon.png' width='50px' height='50px'/>
    <img id='pARk-page-button' src='../media/img/globe-icon.png' width='50px' height='50px'/>
    <img id='faq-page-button' src='../media/img/faq-icon.png' width='50px' height='50px'/>
</body>
</html>